//colors
$red-primary:#be0216;
$maroon-primary:#b7b09c;
$maroon-bone:#999999;
$contrast-color:#ffffff;
$gray-light:#f8f8f7;
$dark-black:#000000;
$dark-black-light:#333232;
$body-bg:#EAE5E1;

//Hero Component
$hero-headline-font-size:2em;
$hero-sub-headline-font-size:1.2em;
$hero-color-contrast: #ffffff;

//occasions
$icon-tile-color:#bdbdb0;

//Fonts
//$fonts-headline-primary:"NewBaskerville","Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,"Microsoft Yahei","微软雅黑",宋体,SimSun,STXihei,"华文细黑",Droid Sans,serif;
$fonts-headline-primary:"NewBaskerville Italic";
$fonts-NewBaskerville-regular:"NewBaskerville";

//$fonts-headline-primary-italic: "NewBaskervilleStd-Italic";
$font-secondary: "ProximaNovaRegular";
$font-secondary-bold: "ProximaNovaBold";
// Gifting Collection Wines



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-p:                  1024px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;
$screen-tablet-min:  		($screen-xs + 1) !default;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
